html {
}

body {
}

.button {
    position: fixed;
    top: 13px;
    left: 13px;
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
    z-index: 10;
}

#open {
    position: absolute;
    background-image: url("./img/menu.png");
    width: 100%;
    height: 100%;
}

#close {
    position: absolute;
    background-image: url("./img/close.png");
    width: 100%;
    height: 100%;
}

.alert {
    position: fixed;
    bottom: 40px;
    right: 10px;
    margin-right: -210px;
    padding: 0;
    width: 200px;
    height: 65px;
    background: green;
    z-index: 10;
    border-radius: 5px;
}

.alert p {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    margin-left: -190px;
    padding: 0;
    z-index: 2;
    width: 180px;
    background: rgba(85, 183, 59, 0.5);
}

.menu ul {
    margin-top: 38px;
    padding: 0;
    list-style: none;
}

.menu li a {
    display: block;
    padding: 15px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    background: green;
    margin-bottom: 1px;
}

.menu li a:hover {
    background-color: #04B431;
    transition: background 0.5s;
}

.menu p {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    color: white;
    font-size: 11px;
    background: #04B431;
    text-decoration: none;
    text-align: center;
}

#map {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#closebutton {
    font-size: 14px;
    
}

.datawindow {
    position: absolute;
    background: white;
    top: 0px;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 30%;
    box-shadow: 0px 0px 20px 5px gray;
    z-index: 2;
}

.datawindow #data {
    position: absolute;
    width: 100%;
    height: 25%;
    background: #eaeaea;
}

.datawindow #data ul {
    position: absolute;
    margin-top: 30px;
    padding: 0;
    list-style: none;
    height: 100%;
    width: 100%;
}

.datawindow #data li {
    display: block;
    padding: 0px;
    color: black;
    font-size: 14px;
    text-decoration: none;
    height: 25px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}

.datawindow #data li nobr {
    margin-left: 5px;
}

.datawindow #data #日時 {
    position: absolute;
    font-size: 14px;
    margin: 0;
    padding: 0;
    top: 5px;
    left: 5px;
}

.datawindow #data #日時 #日 {
    margin-right: 5px;
}

.datawindow #data #最終更新 {
    position: absolute;
    font-size: 10px;
    color: gray;
    top: 5px;
    right: 10px;
}